<a href="https://colab.research.google.com/github/charan542/FML/blob/main/univariate_linearregresstion_on_50_Startups_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

here we imported the required libraries

In [4]:
data=pd.read_csv("50_Startups.csv")

reading the 50_Startups csv file as data

In [5]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

in given data there are R&D Spend and Administration and MarketingSpend and name of State and Profits

In [15]:
X = data.drop(['Profit','State'], axis=1).values
y = data['Profit'].values

as this is a multivariate linear regresstion we have 3 input labes and one output label hence the profit is to be taken as the output label remaiing 3 are taken as the input for the model and State label is removed beacuse it is a string

In [16]:
X.shape,y.shape

((50, 3), (50,))

these are shape of our labels

In [17]:
y=y.reshape(-1,1)

now we have changed the shape of the y(ouput)

In [18]:
X.shape,y.shape

((50, 3), (50, 1))

now the shapes are same

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

importing the trainn_test_split from the sklearn and splitting the data into the training and the testing data

In [20]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

here we have fitted the regresstion model for the training data

In [21]:
y_pred1 = reg.predict(X_train)

calculaing the predicted output for the trainingdata by our regresstion model

In [22]:
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

importing the error functions from the sklearn library

In [23]:
print(f'Performance of the model on training data :\n')
print(f'MAE = {mean_absolute_error(y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R_2 = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :

MAE = 6547.85390574717
MSE = 79995501.26687789
RMSE = 8944.02041963668
R_2 = 0.9543950361689992

as the errors are low our model is well trained for the trainingdata then we have to test

In [25]:
y_pred2 = reg.predict(X_test)

predicted value for the testing data for the regrestion model done by the trainingdata

In [26]:

print(f'Performance of the model on test data :\n')
print(f'MAE = {mean_absolute_error(y_test, y_pred2)}')
print(f'MSE = {mean_squared_error(y_test, y_pred2)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_test, y_pred2))}')
print(f'R_2 = {r2_score(y_test, y_pred2)}')

Performance of the model on test data :

MAE = 7432.785584598916
MSE = 86644383.2385244
RMSE = 9308.296473497414
R_2 = 0.9193827032400599

error calculated for the predicted test data and actual test data
hence the errors are nearly equal and low it is the best model